@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --grey : #e7e7e7;
}

html {
  font-size: 62.5%;
}
body {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  height: 6.5rem;
 
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  margin: 0;
}

#searchbar {
  display: flex;
  justify-content: center;
  flex: 1;
}

#searchbar input {
  font-size: 1.3rem;
  min-width: 35rem;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
  background: var(--grey);
}

button {
  font-size: 1.3rem;
 font-family: "Poppins", sans-serif;
  padding: .3rem 1.5rem;
  border: none;
  border-radius: 5rem;
}
button:nth-of-type(1){
  background: var(--grey);
}
button:nth-of-type(2){
  background: black;
  color: white;
  font-weight: 500;
  margin-left: 0.5rem;
}

.banner {
  margin-top: 1.5rem;
  background:var(--grey);
  height: 45rem;
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.recipes-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--grey);
  height: 70rem;
  width: 100%;
  margin-bottom: 2rem;
}

.recipe-card {
  flex: 1;
  background: wheat;
  flex: 0 0 24%;
  height: 25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.recipe-card.end-card {
  margin-right: 0 !important;
}

footer {
  background: var(--grey);
  height: 20rem;
  width: 100%;
}